body {
    font-family: Montserrat, sans-serif;
    background-color:#fff;
    color: #333;
    text-align: center;
    padding: 28px;
    max-width: 100%;
    height: auto;
}

input#datetime-picker {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input#datetime-picker:focus {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

button[data-start] {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[data-start]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button[data-start]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.timer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;
    padding: 16px;
    max-width: 280px;
    height: auto;
    background: #f5f5f5;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}
/* Стан "hover" */
.timer:hover {
    background-color: #e9ecef;
    border: 2px solid #333;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

/* Стан "active" */
.timer.active {
    background-color: #d4edda;
    color: #FFF;
   border: 2px solid #6c8cff;
   box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}

/* Стан "disable" */
.timer.disable {
    background-color: #cce5ff;
    border: 2px solid #fafafa;
    
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.field .value {
    font-size: 40px;
    font-weight: bold;
    color: #007bff;

}

.field .label {
    margin-top: 5px;
    font-size: 16px;
    color: #6c757d;
}
/* Стан з помилкою (приклад для повідомлення про помилку) */
.error-message {
    color: #dc3545;
    font-size: 16px;
    margin-top: 10px;
}

/* Для адаптивності */
@media (max-width: 768px) {
    .timer {
        flex-direction: column;
        gap: 10px;
    }
    .field {
    width: 80%;
    max-width: 200px;
        }
}